/* ==================================================
   COLORS
   ================================================== */

   $mainThemeColor1: rgb(150, 61, 61);
   $mainThemeColor2: rgb(216, 162, 94);
   $mainThemeColor3: rgb(238, 223, 122);
   
   $textColor1: rgb(42, 39, 39);
   $textColor2: white;
   $textPholderColor: grey;
   $textErrorColor: rgb(240, 80, 80);
   $textSuccessColor: rgb(56, 125, 66);
   
   
   /* ==================================================
      BREAKPOINTS
      ================================================== */
   
   $tablet: 1280px;
   $mobile: 768px;   